.parent {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 0.4fr repeat(4, 1fr) 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
    
.users {
    grid-area: 1 / 8 / 7 / 10;
    background-color: #0D1B2A;


    overflow-y: scroll;
}
.users>div{
    border-radius: 10px;
}
.users>div:hover {
    background-color: #415A77;
    cursor: pointer;
}
.users>div>img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}
.users>*{
    margin-left: 50px;
    margin-bottom: 50px;
}
.users>div>span{
    position: relative;
    bottom: 30px;
    left: 20px;
}
.chat {
     grid-area: 2 / 1 / 6 / 8;
}
.top { 
    grid-area: 1 / 1 / 2 / 8; 
    height: 100%;
    background-color: #415A77;
}

.administration{
    display: none;
}
.administration>a{
    text-decoration: none;
}
.administration>a:hover{
    color: rgba(255, 255, 255, 0.507);
    cursor: pointer;
}

.task>i:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.507) !important;
}
.task{
    padding:80px;
}

.chat{
    overflow-y: scroll;
}
.message{
    background-color: #203f63;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin: 10px;
}
.message>span{
    position: relative;
    bottom: 20px;
    left: 20px;
}
.message>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.messageForm{
    grid-area: 6 / 1 / 7 / 8;
    z-index: 2;
}
.messageForm>form{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}
.messageForm>form>input{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: black;
}